@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'sans-serif';
    background-color: #42455a;
    color:#beb1b1
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: #42455a;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
    align-items: flex;
    cursor: pointer;
}
.stats-container:hover{
    box-shadow: 0 0 30px lightblue
}

.stats-card {
    background-color: #102138;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #102138;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px rgb(179, 208, 218);
}

#button-container {
    text-align: center;
}

button {
    font-family: 'sans-serif';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

html {
    scroll-behavior: smooth !important;
} 

.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 1.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #8d95d3;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    transition: 0.2s ease-out;
}
.back-to-top span{
    color: black;
    font-size: 1.5rem;
    transition: 0.2s ease-out;
}

#unfunded-btn:hover, #funded-btn:hover, #all-btn:hover, .back-to-top:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


